     <div class="outer">
        <div class="wraper">
        <!--start of banner-->
<!--             <div class="banner">
                <div class="contactBanner">
                    <h1 style="color:#296da0;">Lokasi</h1>
                </div>
            </div> -->
            <!--end of banner-->
            <!--start of mainbody-->
            <div class="mainbody">
                <dl class="tourInfo">
                    <dd>
                        <p><%= image_tag "fb/home_page.gif" %></p> 
                    </dd> 

                
                </dl>        
<!--                 <div class="mainBottom"><p><a href="http://futsalbilling.com/purchase.php">Lihat harga</a>, 
                   atau <a href="./tour_files/tour.html">Pelajari lebih lanjut</a></p>
                </div> -->
            </div>
            <!--end of mainbody-->
        </div>
    </div>