    <div class="container">
        <div class="col-lg-12 content-wrapper">
            <div class="table-container list-table">
                <div class="report-title">
                    <h2><small>will</small> Balance Sheet</h2>

                    <h4>As of 27/06/2015</h4>
                </div><!-- ASSETS -->

                <div class="table-responsive">
                    <table class="report-table table" id="date-balance-sheet">
                        <thead class="report-header">
                            <tr>
                                <th class="text-c" id="date-balance-sheet-label">
                                Date</th>

                                <th class="text-a text-right">27/06/2015</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="report-table table" id="assets">
                        <thead>
                            <tr>
                                <th class="report-header report-thead-col-1" id=
                                "assets-label">Assets</th>

                                <th class=
                                "report-header report-thead-col-2 text-right" id=
                                "assets-period"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <!-- Table Subhead -->

                            <tr>
                                <th class="report-subheader" colspan="2">Current
                                Assets</th>
                            </tr>

                            <tr>
                                <th class="text-c report-data data-col-1">
                                    <a href="/accounts/27467">Cash</a>
                                </th>

                                <td class="text-a report-data text-right">Rp.
                                25.000,00</td>
                            </tr>

                            <tr>
                                <th class="text-c report-data data-col-1">
                                    <a href="/accounts/27469">Accounts
                                    Receivable</a>
                                </th>

                                <td class="text-a report-data text-right">Rp.
                                5.044.500,00</td>
                            </tr>

                            <tr>
                                <th class="text-c report-data data-col-1">
                                    <a href="/accounts/27472">Inventory</a>
                                </th>

                                <td class="text-a report-data text-right">-Rp.
                                30.000.000,00</td>
                            </tr>

                            <tr>
                                <th class="text-c report-data grand-total">Total
                                Assets</th>

                                <td class=
                                " text-a report-data grand-total text-right" id=
                                "assets-type-1-total-data">-Rp. 24.930.500,00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="report-table table" id="liabilities-equity">
                        <thead>
                            <tr>
                                <th class="report-header report-thead-col-1" id=
                                "liabilities-equity-label">Liability &amp;
                                Equity</th>

                                <th class=
                                "report-header report-thead-col-2 text-right" id=
                                "liabilities-equity-period"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="sub-table" colspan="2">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th class="text-c report-subtotal">
                                                Total Liability</th>

                                                <td class=
                                                "text-a report-subtotal text-right"
                                                id="assets-type-1-total-data">Rp.
                                                0,00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td class="sub-table" colspan="2">
                                    <table class="table">
                                        <!-- Table Subhead -->

                                        <tbody>
                                            <tr>
                                                <th class="report-subheader"
                                                colspan="2">Equity</th>
                                            </tr>

                                            <tr>
                                                <th class=
                                                "text-c report-data data-col-1">
                                                    <a href=
                                                    "/accounts/27546">Opening
                                                    Balance Equity</a>
                                                </th>

                                                <td class=
                                                "text-a report-data text-right">Rp.
                                                20.000.000,00</td>
                                            </tr>

                                            <tr>
                                                <th class=
                                                "text-c report-data data-col-1">
                                                Current Year Earning</th>

                                                <td class=
                                                "text-a report-data text-right">
                                                -Rp. 44.930.500,00</td>
                                            </tr>

                                            <tr>
                                                <th class="text-c report-subtotal">
                                                Total Equity</th>

                                                <td class=
                                                "text-a report-subtotal text-right"
                                                id="assets-type-1-total-data">-Rp.
                                                24.930.500,00</td>
                                            </tr>

                                            <tr>
                                                <th class="text-c grand-total" id=
                                                "assets-total">Total Liability
                                                &amp; Equity</th>

                                                <td class="grand-total text-right"
                                                id="assets-total-data">-Rp.
                                                24.930.500,00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div> <!-- /container -->