<!DOCTYPE html>
<html>
<head>
  <title>Zengra | Assign Authorization</title>
  
  <%= stylesheet_link_tag 'action_assignments' %>
 
</head>
 
<body> 
<h1>Authorize User <b> <%= @user.email %></b></h1>
<%= yield %>

</body>
</html>